@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Hanken Grotesk", ui-sans-serif, system-ui, sans-serif;

  /* Colors */
  --color-surface-bright: #f8f9ff;
  --color-on-primary-container: #7c839b;
  --color-secondary-container: #6cf8bb;
  --color-surface: #f8f9ff;
  --color-on-secondary: #ffffff;
  --color-error: #ba1a1a;
  --color-on-primary: #ffffff;
  --color-primary-fixed-dim: #bec6e0;
  --color-surface-container: #e5eeff;
  --color-outline-variant: #c6c6cd;
  --color-on-background: #0b1c30;
  --color-primary: #000000;
  --color-secondary: #006c49;
  --color-on-surface: #0b1c30;
  --color-surface-container-highest: #d3e4fe;
  --color-surface-tint: #565e74;
  --color-primary-container: #131b2e;
  --color-background: #f8f9ff;
  --color-error-container: #ffdad6;
  --color-on-surface-variant: #45464d;
  --color-surface-variant: #d3e4fe;
  --color-surface-container-low: #eff4ff;
  --color-surface-container-lowest: #ffffff;
  --color-on-secondary-container: #00714d;
  --color-surface-container-high: #dce9ff;

  /* Spacing */
  --spacing-container-padding-desktop: 32px;
  --spacing-container-padding-mobile: 16px;
  --spacing-gutter: 16px;
  --spacing-stack-sm: 4px;
  --spacing-stack-md: 12px;
  --spacing-stack-lg: 24px;
}

@layer utilities {
  .text-headline-lg {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.01em;
    font-weight: 700;
  }
  .text-headline-md {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
  .text-headline-mobile {
     font-size: 24px;
     line-height: 32px;
     font-weight: 700;
  }
  .text-number-xl {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.02em;
    font-weight: 700;
  }
  .text-number-md {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
  }
  .text-label-md {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    font-weight: 600;
  }
  .text-body-md {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
}

body {
  @apply bg-background text-on-background antialiased;
  font-size: 16px;
  line-height: 24px;
}
